mixin snsicon(altName, imgPath, aHref="#none", aTarget="_self")
  li: a(href=aHref target=aTarget): img(src=imgPath alt="연결 "+altName)



footer.footer
  div.footer-container



    p.copyright COPYRIGHT &COPY H.AUTO CORP. ALL RIGHTS RESERVED.